<h1>Detalles del producto: {{this.data.product.nombre}}</h1>
<span>Precio: {{this.data.product.precio}}</span>
{{#if this.data.caro}}
<h1>Es caro</h1>
{{/if}}
<p>Descripcion: {{this.data.product.descripcion}}</p>
<p>Stock: {{this.data.product.stock}}</p>